.pizza-form {
    display: flex;
        flex-direction: column;
        width: 10rem;
        gap: 10px;
}

.form-input {
    display: flex;
    flex-direction: column;
}

.all-pizza-container {
    display: flex;
    flex-direction: column;
}

.pizza-container {
    display: flex;
    flex-direction: column;
}

.pizza-container:nth-child(1) {
    font-weight: bold;
}